In [1]:
a = 10
print(a)

10

In [2]:
print(a)

10

In [3]:
type(a)

int

In [6]:
b = "Hola Mundo"
print (b)

Hola Mundo

string es una cadena de caracteres se usa con comillas

In [7]:
type(b)

str

In [8]:
C = 0.23

In [9]:
print (C)

0.23

In [18]:
type (C) # float es numero con decimales

float

In [14]:
d = "0.23"
print (d)

0.23

In [15]:
type (d)

str

Booleanos true false

In [21]:
verdadero = True
print (verdadero)

True

In [22]:
type (verdadero)

bool

In [31]:
x = 7
print (x)

7

Operaciones entre variables

con # comentamos lo que tenemos en una linea de codigo

In [32]:
# x = x+2
x+= 2
print(x)

9

In [33]:
x-= 2
print(x)

7

In [34]:
x*=3
print(x)

21

operaciones aritmeticas

In [35]:
x = 3
y = 12

In [36]:
print(x + y)

15

In [37]:
print(x - y)

-9

In [38]:
#potencia 
print(y**x)

1728

In [40]:
#devolver el resto de una division
x = 13
y = 3

print(x % y)

1

In [41]:
#parte entera 
print(x//y)

4

Operaciones entre variables
* operadores relacionales

In [43]:
x = 13
y = 3

print(x == y) # es igual?

False

In [44]:
# es distinto?
print(x != y)

True

In [45]:
print(x > y) # x es mayor que y?

True

In [46]:
print (x < y) # x es menor que y?

False

Con texto se pueden hacer otras operaciones

In [54]:
a = "Hola "   
b = "Mundo!"

In [55]:
print ( a + b) # concatenacion de strings (todas tienen que ser del mismo tipo, string)

Hola Mundo!

In [53]:
c = "ja "
d = c * 3
print (d)

ja ja ja

In [58]:
d = c + 3 #no se puede porque serira sumar un entero a un string

TypeError: can only concatenate str (not "int") to str

* operadores logicos / tablas de verdad

In [60]:
x = 5
y = 12
#AND
print(x > 0 and y < 10)

False

In [61]:
print (x > 0 and y > 10) # AND

True

In [62]:

print(x > 0 or y < 10)

True

CONVERSION DE TIPOS DE DATOS

In [63]:
a = "2"
b = 2

In [65]:
type (a)

str

In [66]:
type (b)

int

In [69]:
c = int(a)

In [70]:
type (c)

int

In [71]:
d = "0.24"
e = float(d)
print(e)
type(e)

0.24

float

In [73]:
f = "2,5"
g = float(f) # el punto es el valor flotante, la coma no

ValueError: could not convert string to float: '2,5'

In [77]:
h = 3 + 4j  #numeros complejos!

In [78]:
type(h)

complex