## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
v = 22
print (v)

22

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type (8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type (v)

int

4) Crear una variable que contenga tu nombre

In [4]:
n = "Alejandro"
n2 = "Alejandr\'o"  # se le agrega la barra izquierda para cuando tenes una comilla en la variable
print (n2)

Alejandr'o

5) Crear una variable que contenga un número complejo

In [1]:
c = 4 + 5j
print (c)

(4+5j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type (c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
import math # se ingresa modulo math
p = math.pi # math.pi es la constante que contiene 3.14159253....

r = round (p, 4) # funcion para rendondear variables a su entero mas cercano.
                # al poner una coma seguido de un espacio y un numero te redondea a ese numero.
print(r)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [2]:
c = "True"
d = True       # tambien se puede hacer directamente c == d
print(c == d)

False

In [3]:
print (type (c))
print (type (d))

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [23]:
print(type (c))
print(type (d))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [5]:
a = 5.3 + 4

11) Realizar una operación de suma de números complejos

In [26]:
a = 10 + 4j
b = 11 + 5j
c = a + b

12) Realizar una operación de suma de un número real y otro complejo

In [29]:
a = 3
b = 4 + 5j
c = a + b

13) Realizar una operación de multiplicación

In [32]:
a = 4
b = 8
c = a * b

14) Mostrar el resultado de elevar 2 a la octava potencia

In [36]:
b = 2 ** 8
print(b)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [41]:
a = 27
b = 4
c = a / b
print (c)

6.75

16) De la división anterior solamente mostrar la parte entera

In [13]:
partEntera = (a // b)
print (partEntera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [11]:
a = 27
b = 4 
resto = (a % b)
print (resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [46]:
a = 4
b = 6
c = 3
d = (a * b + c)
print (d)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [15]:
a = "Daniel89 "
b = 'alejandro89'
c = a + b
print (c)

Daniel89 alejandro89

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [16]:
a = "2"
b = 2
print (a == b) 
print (type (a))
print (type (b))    # a es string y b es entero

False
<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [64]:
c = int(a)
print (c == b)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [75]:
a = float('3,8') # los numeros decimales van con punto y no con coma

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [77]:
a = 3
a -= 4          #es igual a hacer "a = a -4"
print (a)

-1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [18]:
1<<2
 #desplazamiento de bits a la izquierda. a cada bit los mueve 2 lugares hacia la izquierda.
          #1 en binario es 0001 al correrlo 2 lugares queda 0100 que es el valor de 4.

4

In [2]:
4>>2

1

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [19]:
a = 2
b = "2"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [20]:
frase = "Hola Mundo!"
val = 3
print(frase * 3)

Hola Mundo!Hola Mundo!Hola Mundo!

In [22]:
frase + str(val) + "veces"  #concatenando

'Hola Mundo!3veces'

In [21]:
print(frase, str(val), "veces")

Hola Mundo! 3 veces

In [1]:
frase_2 = f"{frase} {val} veces"  # f se usa para formatear o agregar variables
print (frase_2)

NameError: name 'frase' is not defined

In [26]:
frase_3 = "{} {} veces".format(frase, val)  #variable = "strings".format()
print(frase_3)

Hola Mundo! 3 veces

In [5]:
a, b, c= 4, 2,3
(a+b)*c

18